In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame([[2,20],[3,10]],index=['apple','banana'],columns=['Quantity','Price_per_unit'])
df

        Quantity  Price_per_unit
apple          2              20
banana         3              10

In [17]:
pd.concat(df,['cherry',5,20],axis=1)

TypeError: concat() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given

In [13]:
df1=pd.DataFrame([[1,2,pd.NA],[4,pd.NA,pd.NA],[pd.NA,5,6],[7,8,9],[10,pd.NA,11]])

In [14]:
df1

      0     1     2
0     1     2  <NA>
1     4  <NA>  <NA>
2  <NA>     5     6
3     7     8     9
4    10  <NA>    11

In [15]:
df1.fillna('Hi')

    0   1   2
0   1   2  Hi
1   4  Hi  Hi
2  Hi   5   6
3   7   8   9
4  10  Hi  11